.syntax--source.syntax--cs {
  .syntax--keyword.syntax--operator {
    color: @hue-3;
  }

  .syntax--meta.syntax--keyword.syntax--using {
      color: @foreground;
  }

  .syntax--method.syntax--body {
      color: @foreground;
  }

  .syntax--meta.syntax--method-call {
      color: @foreground;
  }
}
