// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #050609;

@cyan: #00bfff;
@blue: #008aff;
@purple: #a074c4;
@green: #6dba09;
@red: #bb3322;
@orange: #ffa500;
@light-orange: #ffe644;
